In [2]:
import pandas as pd 
import numpy as np

In [3]:
s_data = pd.read_csv('crime_rate_Spain.csv')
s_data.head(10)

,Location,Year,Crime,Total cases
0,Barcelona,2021,Intentional homicides and consummated murders,36
1,Barcelona,2021,Intentional homicides and attempted murders,137
2,Barcelona,2021,Serious and less serious crimes of injuries an...,2161
3,Barcelona,2021,Kidnapping,8
4,Barcelona,2021,Crimes against freedom and sexual indemnity,2406
5,Barcelona,2021,Sexual assault with penetration,436
6,Barcelona,2021,Other crimes against freedom and sexual indemnity,1970
7,Barcelona,2021,Robbery with violence and intimidation,18360
8,Barcelona,2021,Burglaries with force in homes,16743
9,Barcelona,2021,Robberies with force in homes,10697

In [4]:
np.set_printoptions(suppress = True)

In [5]:
s_data_npy = np.genfromtxt('crime_rate_Spain.csv',
                           delimiter=',',
                           autostrip= True)

In [6]:
s_data.head(10)

,Location,Year,Crime,Total cases
0,Barcelona,2021,Intentional homicides and consummated murders,36
1,Barcelona,2021,Intentional homicides and attempted murders,137
2,Barcelona,2021,Serious and less serious crimes of injuries an...,2161
3,Barcelona,2021,Kidnapping,8
4,Barcelona,2021,Crimes against freedom and sexual indemnity,2406
5,Barcelona,2021,Sexual assault with penetration,436
6,Barcelona,2021,Other crimes against freedom and sexual indemnity,1970
7,Barcelona,2021,Robbery with violence and intimidation,18360
8,Barcelona,2021,Burglaries with force in homes,16743
9,Barcelona,2021,Robberies with force in homes,10697

In [7]:
np.isnan(s_data_npy).sum()

1348

In [8]:
s_data_npy.shape

(673, 4)

In [9]:
np.unique(s_data_npy[:,1], return_counts= True)

(array([2019., 2020., 2021.,   nan]), array([224, 224, 224,   1], dtype=int64))

In [10]:
s_data.describe()

              Year    Total cases
count   672.000000     672.000000
mean   2020.000000    5786.104167
std       0.817105   21325.054204
min    2019.000000       0.000000
25%    2019.000000      39.750000
50%    2020.000000     326.500000
75%    2021.000000    1779.250000
max    2021.000000  205312.000000

In [11]:
s_data[s_data.Year == 2019]

,Location,Year,Crime,Total cases
196,Barcelona,2019,Intentional homicides and consummated murders,45
197,Barcelona,2019,Intentional homicides and attempted murders,142
198,Barcelona,2019,Serious and less serious crimes of injuries an...,2389
199,Barcelona,2019,Kidnapping,2
200,Barcelona,2019,Crimes against freedom and sexual indemnity,2219
...,...,...,...,...
639,Melilla,2019,Robberies with force in homes,71
640,Melilla,2019,Theft,1204
641,Melilla,2019,Vehicle theft,76
642,Melilla,2019,Drug trafficking,63
643,Melilla,2019,Other criminal offenses,3577

In [13]:
s_data[s_data.Year == 2019].value_counts()

Location   Year  Crime                                                          Total cases
Alicante   2019  Burglaries with force in homes                                 9346           1
                 Crimes against freedom and sexual indemnity                    677            1
Salamanca  2019  Drug trafficking                                               62             1
                 Intentional homicides and attempted murders                    2              1
                 Intentional homicides and consummated murders                  0              1
                                                                                              ..
Madrid     2019  Robberies with force in homes                                  11484          1
                 Robbery with violence and intimidation                         15586          1
                 Serious and less serious crimes of injuries and riotous brawl  2402           1
                 Sexual assault with penetration                                243            1
Zaragoza   2019  Vehicle theft                                                  220            1
Length: 224, dtype: int64

In [17]:
s_data.head(1)

    Location  Year                                          Crime  Total cases
0  Barcelona  2021  Intentional homicides and consummated murders           36